h1, h2, h3, p{
    font-family: cursive;
    text-align: center;
}
h1{
    font-size: 32px;
}
#footer{
    background-color:beige;
    margin: auto;
}

.langName{
    background-color:aqua;
}

video, audio{
    align-items: center;
}
